[defaults]

inventory = /home/USER/devops_bot/inventory
host_key_checking = false
interpreter_python = /usr/bin/python3
timeout = 30
gathering = smart
retry_files_enabled = False

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no
pipelining = True
